<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>

<form action="/create_product" method="post">

<!--    categoryId=2-->
<!--    productName=abc-->
<!--    productPrice=777-->

    <select name="categoryId">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.getName()}"></option>
    </select>

    <input type="text" name="productName">

    <input type="text" name="productPrice">

    <button type="submit">Submit</button>

</form>

</body>
</html>
